body {
    margin: 0px;
    background-color: #246EA3;
}

nav {
    background-color: #F0AE4D;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav li a {
    padding: 10px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}


main {
    min-height: 65vh;
}

.paginaimage {
    height: 20vh;
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.mainarticles {
    background-color: #4DACF0;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    padding: 25px;
}

.mainarticles article {
    background-color: #6BC1FF;
    width: 80vw;
    border-radius: 20px;
    margin: 15px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainarticles h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainarticles p {
    padding: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paginafooter {
    height: 10vh;
    background-color: #A36914;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paginafooter p {
    margin-left: 5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.HomeImg {
    height: 25vh;
    width: 30vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input {
    margin: 0;
    text-align: center;
}

img {
    width: 40vw;
    padding-left: 385px;
}